.d-flex.justify-content-between.align-items-center.mb-4
  h1.mb-0
    i.bi.bi-person-plus.me-2
    | Nuevo Cliente
  = link_to clientes_path, class: "btn btn-outline-secondary" do
    i.bi.bi-arrow-left.me-1
    | Volver

.card.shadow-sm
  .card-body
    = render "form"
