.d-flex.justify-content-between.align-items-center.mb-4
  h1.mb-0
    i.bi.bi-file-earmark-plus.me-2
    | Nueva Orden
  = link_to ordenes_path, class: "btn btn-outline-secondary" do
    i.bi.bi-arrow-left.me-1
    | Volver

.card.shadow-sm
  .card-body
    = render "form"
